@import "/src/styles/styleguide";

.sudoku-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sudoku-input-area {
  align-items: center;
  display: flex;
  margin: 8px 0;
  overflow: hidden;
  height: 0;
  transition: height $trans-params;

  &-active {
    height: 48px;
  }

  & > * {
    margin-right: 8px;
  }
}
