@import "/src/styles/styleguide";

.button {
  @extend %centered;
  @extend %nonselectable;
  font-size: $font-medium;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: $default-radius;
}

.button-normal {
  background-color: $color-primary-medium;
  color: $color-light;
  transition: background-color $trans-params;
  border: 2px solid transparent;

  &:hover {
    background-color: $color-primary-medium-active;
  }
}

.button-outlined {
  border: 2px solid $color-primary-medium;
  color: $color-primary-medium;
  transition: all $trans-params;

  &:hover {
    border-color: $color-primary-medium-active;
    color: $color-primary-medium-active;
  }
}
