$primary-d: #7b1fa2;
$primary-d-active: #aa00ff;

$primary-m: #ab47bc;
$primary-m-active: #d500f9;

$success-l: #a5d6a7;
$success-l-active: #69f0ae;

$danger-l: #ec407a;
$danger-l-active: #f50057;

$color-light: #f0f0f0;
$color-dark: #212121;

$color-gray-l: #f3f3f3;
$color-gray-d: #383838;
