$primary-d: #7b1fa2;
$primary-d-active: #aa00ff;

$primary-m: #ab47bc;
$primary-m-active: #d500f9;

$success: #a5d6a7;
$success-active: #69f0ae;

$danger: #ec407a;
$danger-active: #f50057;

$color-light: #f0f0f0;
$color-dark: #212121;

$color-gray-l: #f3f3f3;
$color-gray-m: #9d9d9d;
$color-gray-d: #383838;
