$color-primary-dark: #7b1fa2;
$color-primary-dark-active: #aa00ff;

$color-primary-medium: #ab47bc;
$color-primary-medium-active: #d500f9;

$color-success: #a5d6a7;
$color-success-active: #69f0ae;

$color-danger: #ec407a;
$color-danger-active: #f50057;

$color-light: #f0f0f0;
$color-dark: #212121;

$color-gray-light: #f3f3f3;
$color-gray-medium: #9d9d9d;
$color-gray-dark: #383838;
