@import "/src/styles/styleguide";

.sudoku-square {
  display: flex;
  flex-direction: column;
  border: 1px solid $color-light;
  border-radius: $default-radius;
}

.sudoku-square-row {
  display: flex;
}
