@import "/src/styles/styleguide";

.digit-picker {
  @extend %shadow-2;
  display: flex;
  flex-direction: column;
  padding: 5px;
  background-color: $color-gray-dark;
  border-radius: $default-radius;
  color: $color-light;
}

.digit-picker-row {
  display: flex;
}

%btn-style {
  border: 1px solid $color-light;
  border-radius: $default-radius;
  cursor: pointer;
  font-size: $font-small;
  transition: all $trans-params;

  &:hover {
    border-color: $color-primary-medium-active;
    color: $color-primary-medium-active;
  }
}

.digit-picker-btn {
  @extend %btn-style;
  padding: 4px;
  margin: 4px;
  width: 24px;
  height: 24px;
}

.digit-picker-clear-btn {
  @extend %btn-style;
  margin: 4px;
  padding: 4px;
  height: 24px;
}
