@import "/src/styles/index";

.sudoku-result {
  padding: 16px 16px;
  height: 0;
  font-size: $font-l;
  transition: height $trans-params;
  text-decoration: underline;

  &-danger {
    color: $danger;
  }

  &-success {
    color: $success;
  }

  &-showing {
    height: 64px;
  }
}
