@import "/src/styles/styleguide";

.sudoku-result {
  padding: 16px 16px;
  height: 0;
  font-size: $font-large;
  transition: height $trans-params;
  text-decoration: underline;

  &-danger {
    color: $color-danger;
  }

  &-success {
    color: $color-success;
  }

  &-showing {
    height: 64px;
  }
}
