@import "/src/styles/styleguide";

.text-input {
  @extend %no-appearance;
  padding: 4px 8px;
  font-size: $font-small;
  border-radius: $default-radius;
  border: 1px solid $color-primary-medium;
  background-color: transparent;
  transition: border-color $trans-params;
  color: $color-light;

  &::placeholder {
    color: $color-gray-medium;
  }

  &:focus {
    border-color: $color-primary-medium-active;
  }
}
