@import "/src/styles/styleguide";

.container {
  width: 100vw;
  height: 100vh;
  padding: 32px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}
