@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=KoHo:wght@200;300&family=Montserrat:wght@100&display=swap");
@import "/src/styles/index";

body {
  margin: 0;
  // font-family: "Montserrat", sans-serif;
  font-family: "KoHo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $color-dark;
  color: $color-light;
  box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.material-icons {
  cursor: pointer;
  color: $primary-m;
  transition: color $trans-params;

  &:hover {
    color: $primary-m-active;
  }
}
