@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap");
@import "/src/styles/styleguide";

body {
  margin: 0;
  font-family: "KoHo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $color-dark;
  color: $color-light;
  box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.material-icons {
  cursor: pointer;
  color: $color-primary-medium;
  transition: color $trans-params;

  &:hover {
    color: $color-primary-medium-active;
  }
}
